<div class="row">
  <div class="col-md-12 col-lg-5">
    <div class="col-xs-12 pb-3">
      <button class="btn btn-success" [routerLink]="['new']">New Recipe</button>
    </div>
    <div class="col-xs-12">
      <app-recipe-item
        (selectedRecipeEvent)="onSelect($event)"
        [recipes]="recipes"></app-recipe-item>
    </div>
  </div>

  <div class="col-md-12 col-lg-7">
    <div *ngIf="selectedRecipe">
      <app-recipe-details [recipe]="selectedRecipe"></app-recipe-details>
    </div>
    <div *ngIf="!selectedRecipe">
      <app-no-recipe></app-no-recipe>
    </div>
  </div>
</div>


