<div class="row">
  <div class="col-xs-12">
    <img alt="Portuguese Food" class="img-responsive" src="{{recipe.image}}"
         style="max-height: 400px; max-width: 400px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button (click)="clickDropdown()"
              aria-expanded="false"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              type="button">
        Manage Recipe
      </button>
      <ul [ngClass]="isCollapsed ? 'show' : ''"
          class="dropdown-menu">
        <li><a (click)="editRouting()"
               class="dropdown-item">Edit Recipe</a></li>
        <li><a (click)="deleteRecipe()" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

